{% extends 'recipes/base.html' %} {% load crispy_forms_tags %}{% block content %} {% block title %}Breakfast Recipes, Your Way{% endblock %}

<body>
    <div class="container wrapper">
        <form method="POST" action="" class="col "> {% csrf_token %}
            <h1 class="col header-index">Edit This Recipe</h1>
            <div class="col container">
                {{ form | crispy }}
            </div>
            <div class="text-center">
                <input type='button' onclick="javascript:history.go(-1);" class="btn btn-outline-warning" value="Cancel" />
                <input class=" btn btn-outline-success" type="submit" value="Update" />

            </div>
        </form>
    </div>
</body>

{% endblock %}
